<tr>
	<td><%= link_to image_tag(product.image.url(:thumb), class: 'img img-thumbnail'), product %><%= link_to product.title, product %></td>
	<td><%= truncate(strip_tags(product.description), length: 30) %></td>
	<td><%= sprintf("$%0.02f", product.price) %></td>
	<td>
		<%= link_to "Show", product, class: 'btn btn-info' %>
		<%= link_to "Edit", edit_product_path(product), class: 'btn btn-warning' %>
		<%= link_to "Delete", product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
	</td>
</tr>